/tests/.cache/v/cache/lastfailed
/tests/books/.cache/v/cache/lastfailed
/.idea
/.idea/codeStyles/Project.xml
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/python-xunit-automation.iml
/.idea/vcs.xml
/.idea/workspace.xml
